extends ../layout
block content
    #login_form(align="center")
      form(action="/admin/auth/login", method="post")
        table
            tr
                td
                    input(type="text", placeholder="Email", name="login")
            tr
                td
                    input(type="password", placeholder="Password", name="password")
            tr
                td
                    input.action(type="submit", value="Connexion")
