#login_form(align="center")
 form(action="/admin/auth/login", method="post")
  input(type="text", placeholder="Email", name="login")
  input(type="text", placeholder="Password", name="passe")
  input.action(type="submit", value="Connexion")
