.list
  table(style='width:100%')
    thead
      tr
        th Liste des channels
        
    tbody
      each app, i in flux
        tr
            td
                #{app}
            
                