script(src='/socket.io/socket.io.js')
script(src='/javascripts/listen.js')
script
	subscribe(!{JSON.stringify(a)},"#{channel}")
.list
	#content
		table(id="push")
			thead
				tr
					td Channel
					td Size
			tbody
