body {
  background: #CCCCCC ;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: normal;
}
* {
	padding: 0px;
	margin: 0px;
}

a:link {
  -webkit-tap-highlight-color: #ff5e99;
}

a:hover,
a:active {
  outline: none;
}

a,
a:active,
a:visited {
  color: #607890;
}

a:hover {
  color: #036;
}



.f-left {
  font-size: 8pt;
  text-align: left;
  float: left;
}

.f-right {
  font-size: 8pt;
  text-align: right;
  float: right;
}



h1.title {
  margin-top: 50px;
  color: #ffffff;
  text-align: center;
}


form {
  width: 280px;
  text-align: right;
}

form input[type="text"] {
  -webkit-appearance: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.0742188) 0px 1px 1px 0px inset;
  -webkit-rtl-ordering: logical;
  -webkit-transition-delay: 0s, 0s;
  -webkit-transition-duration: 0.20000000298023224s, 0.20000000298023224s;
  -webkit-transition-property: border, box-shadow;
  -webkit-transition-timing-function: linear, linear;
  -webkit-user-select: text;
  background-color: white;
  border-bottom-color: #CCC;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #CCC;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #CCC;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #CCC;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.0742188) 0px 1px 1px 0px inset;
  color: #555;
  cursor: auto;
  display: inline-block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  height: 30px;
  letter-spacing: normal;
  line-height: 16px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  text-align: -webkit-auto;
  text-indent: 0px;
  text-shadow: none;
  text-transform: none;
  vertical-align: middle;
  width: 270px;
  word-spacing: 0px;
}

.action {
  -webkit-box-shadow: rgba(255, 255, 255, 0.199219) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.046875) 0px 1px 2px 0px;
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 0.10000000149011612s;
  -webkit-transition-property: background-position;
  -webkit-transition-timing-function: linear;
  background-color: #05C;
  background-image: -webkit-linear-gradient(top, #08C, #05C);
  background-position: 0px -15px;
  background-repeat: repeat-x;
  border-bottom-color: rgba(0, 0, 0, 0.246094);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgba(0, 0, 0, 0.0976563);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgba(0, 0, 0, 0.0976563);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgba(0, 0, 0, 0.0976563);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: rgba(255, 255, 255, 0.199219) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.046875) 0px 1px 2px 0px;
  color: white;
  cursor: pointer;
  display: inline-block;
  
  margin: 4px;
  outline-color: white;
  outline-style: none;
  outline-width: 0px;
  padding: 6px 4px;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.246094) 0px -1px 0px;
  vertical-align: middle;
  
}
