.list
    table(style='width:100%')
        thead
            tr
                th apps
                th channel
                th url
                th action
        tbody
            each p, i in flux
                tr
                    td 
                        a(href='/admin/apps/details/' + p.appid) #{p.appid} 
                    td 
                        a(href='/admin/apps/channels/' + p.appid) #{p.channel} 
                    td
                        #{p.url}
                    
                    td
                        span 
                            a(href='/admin/pooler/kill/' + p.appid+"/"+p.channel) kill