extends ../layout
block content
    #addForm(align='center')
        form(method='post',action='/admin/users/add')
            table
                tr
                    td
                        label Login
                    td
                        input(name='user[username]',type='text',value=locals.flux.username)
                tr
                    td
                        label Email
                    td
                        input(name='user[email]',type='text',value=locals.flux.email)
                tr
                    td
                        label New Password
                    td
                        input(name='user[password]',type='password',value="")
                tr
                    td
                        label Enable
                    td

                        input(name='user[active]',type='checkbox',value='1', checked=(locals.flux.active==1 ? "checked" : undefined))
                        input(name='user[active]',type='text',value='0',style='display:none')
                tr
                    td
                        
                    td
                        input(name='submit',type='submit',name='Add',class='action')
                        - if (locals.flux.id) {
                            input(name='user[id]',type='hidden',value=locals.flux.id)   
                        -}
                        

